node_modules/!/.idea/
!/.idea/prettier.xml

/.idea/**
.idea/**
node_modules
.gitignore
packages/frontend/node_modules
packages/backend-nestjs/dist
packages/backend-nestjs/.env
*.xml
**/*.xml
.idea/**/*
